body {
    background-color: #0563fa;
    @font-face { 
   font-family: "GaisyerItalic"; /* This is an arbitrary name -- */ 
    src: url("/entries/week5/fonts/ABCGaisyr-RegularItalic-Trial.woff2") format("woff2");
    padding: 50px;
 }
 @font-face {
  font-family: "GaisyerMono"; /* This is an arbitrary name -- */
  src: url("/entries/week5/fonts/ABCGaisyrMono-Book-Trial.woff2") format("woff2");
  padding: 40px;
  color: #f0f2f4;
 }
  @font-face {
    font-family: "typefesse";
    src: url("/entries/week5/fonts/Typefesse_Claire-Obscure.woff2") format("woff2");
    padding: 30px;
    color: #f0f2f4;
  }
h1{
    text-align: center;
    color: #f0f2f4;
    font-size: 100px;
    font-family: "typefesse";}
    font-style: bold;

h2{
  text-align: center;
     font-family: 'GaisyerItalic', monospace;
     color: #f0f2f4;
    font-size: 60px;

 }
}