body {
    background-color: #9e2dc8;
    padding: 50px;
}

h1{
    text-align: center;
    color: #000308;
    font-size: 120px;
    font-style: italic;
}

h2{
     font-family: 'Courier New', monospace;
}